@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

header {
	padding: 1rem;
	position: sticky;
	top: 0;
	z-index: 1;
}

body {
	background-color: #EB5B95;
	font-family: monospace;
	font-size: 1rem;
	padding: 0rem;
}

#channel-blocks {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--spacing);

	li {
		aspect-ratio: 1 / 1;
		overflow: hidden;
	}
}

#channel-blocks img, video, iframe {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


nav {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.75rem;
	padding: 0.75rem;
}

a {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	/* using flex: 1 to fill the flex container */
	flex: 1;
}

a img {
	width: 100%;
	height: auto;
	display: block;
}

a p {
	position: absolute;
	font-family: "Syne", sans-serif;
	/* using clamp here to keep the text within the svg buttons */
	font-size: clamp(0.7rem, 2vw, 1.5rem);
	font-weight: 700;
	color: #111111;
}