header {
	padding: 1rem;
	position: sticky;
	top: 0;
}

body {
	background-color: #EB5B95;
	font-family: monospace;
	font-size: 1rem;
	padding: 0rem;
}

#channel-blocks {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--spacing);

	li {
		aspect-ratio: 1 / 1;
		overflow: hidden;
	}
}


#channel-blocks img, video, iframe {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

a { 
	color: #3F8D54; 
}
