body {
	--spacing: 0em;
	background-color: #EB5B95;
	font-family: monospace;
	font-size: 1rem;
	padding: var(--spacing);
}

#channel-blocks {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: var(--spacing);
}

#channel-blocks li {
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

#channel-blocks img,
#channel-blocks video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a { 
	color: #3F8D54; 
}

p { 
	max-inline-size: 50ch; 
	color: #F0DFD5;
}

svg {
	position: absolute;
	z-index: 0;
}

ellipse {
	fill: #FCF451;
}

h1 {
	font-size: 10rem;
	color: black;
	position: absolute;
	z-index: 1;
}